nav

.nav-list a.navhome{
    background-color: #2D3D5B;

    color: white;
  }

.sub-nav-list a.navhome{
    background-color: #2D3D5B;
    color: white;
  }
  
@media screen {

}

.gallery-thumb img:hover {
    border: 4px solid #2D3D5B;
    cursor:pointer;
  }
